
<div class="pos-f-t">
  <div class="row ">
    <nav class="navbar navbar-dark bg-dark w-100">
      <div class="row w-100">
        <!-- <div class="col-md-2">
          
        </div>
    
        <div class="col-md-8">
          <button class="navbar-toggler text-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
         -->
         <div class="row justify-content-between w-100">
          <div class="col-2">
            <img src="../assets/images/logoo.png" class="img-thumbnail no-border" alt="Cinque Terre">
          </div>
          <div class="col-1">
             <!-- btuoons    -->
            <button class="navbar-toggler text-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </div>
  
    </nav>
   
  </div>
  
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
       <li><a href="#">About</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Calender</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  
</div>

<div class="container-fluid">

  <div class="row no-border">
    <img src="../assets/images/2.jpg" class="img-thumbnail" alt="Cinque Terre">
    <button class="download-button">Download</button>

  </div><br /> <br />

  <div class="container">
    <div class=" text-center">
      <h2><p >COMPANY</p></h2> 
      <h4><p  class="text-danger">Services</p></h4>
    </div>
    <br /> 
    <br />
  
    <div class="row">
      <div class="col-md-4">
        <!-- <h3><p align="right"></p></h3> <br /> -->
        <div class="card text-right no-border">
          <div class="card-body">
            <h5 class="card-title">Customer Experian</h5>
            <p class="card-text">A must have tool for pharma marketers to gain insights into the latest channel preferences, marketing budget allocations, technology utilizations.</p>   
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <img src="../assets/images/customer_experiance.jpg" class="img-thumbnail no-border" alt="Cinque Terre">
          </div>
          <div class="col-md-6">
            <img src="../assets/images/co-commercalization1.jpg" class="img-thumbnail no-border" alt="Cinque Terre">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <h3><p align="right"></p></h3> <br /> -->
        <div class="card text-left no-border">
          <div class="card-body">
            <h5 class="card-title">Co-commercialization</h5>
            <p class="card-text">A must have tool for pharma marketers to gain insights into the latest channel preferences, marketing budget allocations, technology utilizations.</p>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-4">
        <!-- <h3><p align="right"></p></h3> <br /> -->
        <div class="card text-right no-border">
          <div class="card-body">
            <h5 class="card-title">Data and Analytics</h5>
            <p class="card-text">A must have tool for pharma marketers to gain insights into the latest channel preferences, marketing budget allocations, technology utilizations.</p>   
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <img src="../assets/images/data-analysts.jpg" class="img-thumbnail no-border" alt="Cinque Terre">
          </div>
          <div class="col-md-6">
            <img src="../assets/images/r&d.jpg" class="img-thumbnail no-border" alt="Cinque Terre">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <h3><p align="right"></p></h3> <br /> -->
        <div class="card text-left no-border">
          <div class="card-body">
            <h5 class="card-title">R&D Medical transformation</h5>
            <p class="card-text">A must have tool for pharma marketers to gain insights into the latest channel preferences, marketing budget allocations, technology utilizations.</p>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-4">
        <!-- <h3><p align="right"></p></h3> <br /> -->
        <div class="card text-right no-border">
          <div class="card-body">
            <h5 class="card-title">Digital Transformation</h5>
            <p class="card-text">A must have tool for pharma marketers to gain insights into the latest channel preferences, marketing budget allocations, technology utilizations.</p>   
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <img src="../assets/images/digital.jpg" class="img-thumbnail no-border" alt="Cinque Terre">
          </div>
          <div class="col-md-6">
            <img src="../assets/images/omni.jpg" class="img-thumbnail no-border" alt="Cinque Terre">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- <h3><p align="right"></p></h3> <br /> -->
        <div class="card text-left no-border">
          <div class="card-body">
            <h5 class="card-title">Omnipresence</h5>
            <p class="card-text">A must have tool for pharma marketers to gain insights into the latest channel preferences, marketing budget allocations, technology utilizations.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

   <!-- background corosoul -->
   <div class="background-corosol" style="height: 100%; width:100%;">
   
    <div class="container">
      <h2>Carousel Example</h2>  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../assets/images/digital.jpg" alt="Los Angeles" style="width:10%;">
          </div>
    
          <div class="item">
            <img src="../assets/images/omni.jpg" alt="Chicago" style="width:10%;">
          </div>

        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
  </div>
    <br />
    <br />


  <!-- Cards  -->
  <div class="container text-center">
    <h2><p >UPCOMING EVENTS</p></h2> 
    <br /> 
    <br />
    <div class="card flex-row flex-wrap no-border">
      <div class="card-header border-0">
          <img src="../assets/images/345.jpg" alt="Card">
      </div>

      <div class="card-block px-2">
          <h4 class="card-title">Global Pharmaceutical Regulatory Affairs Submit</h4>
          <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
          <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
          <p>Print icon: <span class="glyphicon glyphicon-print"></span></p>
          <button onclick="myFunction()" id="myBtn">Read more</button>
         </div>
     </div>

     <div class="card flex-row flex-wrap no-border">
      <div class="card-header border-0">
          <img src="../assets/images/345.jpg" alt="Card">
      </div>

      <div class="card-block px-2">
          <h4 class="card-title">Global Pharmaceutical Regulatory Affairs Submit</h4>
          <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
          <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
          <p>Print icon: <span class="glyphicon glyphicon-print"></span></p>
          <button onclick="myFunction()" id="myBtn">Read more</button>
         </div>
     </div>

     <div class="card flex-row flex-wrap no-border">
      <div class="card-header border-0">
          <img src="../assets/images/345.jpg" alt="Card">
      </div>

      <div class="card-block px-2">
          <h4 class="card-title">Global Pharmaceutical Regulatory Affairs Submit</h4>
          <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
          <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
          <p>Print icon: <span class="glyphicon glyphicon-print"></span></p>
          <button onclick="myFunction()" id="myBtn">Read more</button>
         </div>
     </div>
 
  <br>
  </div>
  <br /> 
  <br />

<!-- Recent Blog -->

  <div class=" text-center">
    <h2><p >RECENT BLOG</p></h2> 
    <br /> 
    <h4><p class="bg-light text-secondary" >Our Blog</p></h4>
    <br />
  </div>  
  <div class="row">
    <div class="col-md-4">
      <div class="card no-border" >
        <img class="card-img-top" src="../assets/images/pcs.jpg" alt="Card image cap">
        <div class="card-body" style="padding-top:0px;">
          <div class="row">
            <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
              <img src="../assets/images/date.jpg" 
               alt="date">
            </div>
          <div class="col-md-8">  
            <h3><p class="card-text">Press Release</p></h3>        
            <p class="card-text">Indegene aquires DT associates, provide End-To-End Enterprise solution fro customer Excellence-fromConsulting to Operations</p>
          </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card no-border">
        <img class="card-img-top" src="../assets/images/pcs.jpg" alt="Card image cap">
        <div class="card-body" style="padding-top:0px;">
          <div class="row">
            <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
              <img src="../assets/images/date.jpg" 
               alt="date">
            </div>
          <div class="col-md-8">  
            <h3><p class="card-text">Webinars</p></h3>        
            <p class="card-text">Healthy workplaces conference &  Awards 2019-Indegene enters  "Platinum League of Healthy Workplaces</p>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card no-border">
        <img class="card-img-top" src="../assets/images/pcs.jpg" alt="Card image cap">
        <div class="card-body" style="padding-top:0px;">
          <div class="row">
            <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
              <img src="../assets/images/date.jpg" 
               alt="date">
            </div>
          <div class="col-md-8">  
            <h3><p class="card-text">Press Release</p></h3>        
            <p class="card-text">Examplary PV solution to augment efficiency in small and medium size pharma companies</p>
          </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <br /> 
  <br />


 <!-- RECENT BLOGS COMPLETES -->

 <!-- NEWS LETTER -->

 <div class="container">
  <h1 class="text-center" style="	text-align: center;
	font-size: 36px;">SUBSCRIBE TO OUR NEWSLETTER</h1> 
</div>
<section class="bg-dark text-center">
  <div class="container p-3">
    <h3 class="text-white" style="text-align: center;
    font-size: 30px;
    padding: 20px;
    font-weight: 400;
    letter-spacing: 1px;">SUBSCRIBE NOW</h3>
    
    <form action="#" method="Post" class="form-inline">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email Id">
      </div>
      <button type="button" class="btn btn-secondary">Subscribe<i class="fa fa-envelope"></i></button>
    </form>
  </div>
  <div class="row">
    <p class="text-white" style="text-align: center;" >©2019 Indegene, All rights reserved  |  Contact us  | Privacy policy | CSR Policy </p>
  </div>
</section>
 <!-- NEWS LETTER COMPLETES -->
</div>
      
